<h1>Google Auth 2.0</h1>
<p>Click to get authorisation code<br>
<a href='/auth'> {{authMessage}}</a></p>
<p> Subscribe to Google Drive Web Hook<br>
<a href='{{whPath}}'> Click to Subscribe </a><p>
<p>{{{userData}}}</p>
{{#if goHome}}
<p><a href='/'>Go back</a></p>
{{/if}}